<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="grid1.css">
</head>

<body>

    <!--
    Basic Grid Layout
Create a grid layout with three columns and two rows.
•	The first row should contain a header.
•	The second row should contain three content sections.


    -->
    <main>
        <header>My Header</header>

        <section>SECTION 1</section>
        <section>SECTION 2</section>
        <section>SECTION 3</section>

    </main>

</body>

</html>