.accordion-container {
    position: relative;
}

.accordion-container input {

    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    height: 20px;
}

.accordion-container input:focus {
    border: none;
    outline: none;
    caret-color: transparent;
}

.accordion-container p {
    background: rgba(255, 255, 255, 0.5);
    max-height: 20px;
}

.accordion-container input:focus~p {

    display: block;
    max-height: fit-content;
    -webkit-transition: max-height 2s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: max-height 2s ease-in-out, box-shadow 0.1s linear;
    -o-transition: max-height 2s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: max-height 2s ease-in-out, box-shadow 0.1s linear;
    transition: max-height 2s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0 0 0 1px rgba(217, 216, 216, 0.3);
}

p {
    display: none;
}