body {
    padding: 0;
    margin: 0;
}

div {
    display: flex;
}

section {
    background-color: aqua;
    line-height: 100vh;
    text-align: center;
    flex: 0 0 200px;
}

main {
    flex: 1 0 400px;
    background-color: aquamarine;
    text-align: center;
    line-height: 100vh;
}

#loom-companion-mv3 {
    display: none;
}